<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <div class="login-page">
        <div class="form">
          <form class="register-form">
            <input type="text" placeholder="name"/>
            <input type="password" placeholder="password"/>
            <input type="text" placeholder="email address"/>
            <button>create</button>
          </form>
          <form class="login-form" action="C:\Users\tamil\OneDrive\Desktop\Home\index.html">
            <input type="text" required placeholder="username"/>
            <input type="password" required placeholder="password"/>
            <button>login</button>
            <p class="message">Not registered? <a href="C:\Users\tamil\OneDrive\Desktop\Register\index.html">Create an account</a></p>
          </form>
        </div>
      </div>
</body>
</html>