<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body style="background-color: #43A047;">
    <h1 style="text-align: center; color: rgb(19, 11, 18);">Home</h1>
    <nav>
        <ul>
          <li><a href="C:\Users\tamil\OneDrive\Desktop\Login\index.html">Login</a></li>
          <li><a href="C:\Users\tamil\OneDrive\Desktop\Register\index.html">Register</a></li>
        </ul>
      </nav>
<p style="text-align: center;">
  Welcome to Our Website!

Welcome to Conneqt Digital, where innovation meets excellence. We are dedicated to providing top-notch solutions to meet your needs. Explore our website to learn more about what we offer and how we can help you achieve your goals.

Why Choose Us?
<ol type="1">
<li>High-Quality Services</li>
<li>Customer-Centric Approach</li>
<li>Experienced Professionals</li>
<li>Innovative Solutions</li>
</ol>
Get Started Today!
Contact us to discuss your project and see how we can bring your vision to life.
</p>
     <footer>
        <p>Contact Us <a href="https://gmail.com">lokeshsuresh@gmail.com</a></p>
     </footer> 
</body>
</html>